.survey-group {
	padding: 30px;
}

.bar-graph {
	opacity: 1;
}

.card.survey-1 {
	height: 200px;
	line-height: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	text-align: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./images/square-chart.png);
}

.survey-title {
	color: white;
}
